<a href="https://colab.research.google.com/github/rflsg/Clases/blob/main/Clase17102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
potencia= lambda a:a**2
potencia(2)

4

In [8]:
def mi_funcion(n):
  return lambda a: a*n
Dobles=mi_funcion(2)
Dobles(50)

100

In [14]:
def ordenada(a,b):
  return lambda m: a*m+b

Recta=ordenada(2,-1)
for i in range(11):
  print("y= "+str(Recta(i)))

y= -1
y= 1
y= 3
y= 5
y= 7
y= 9
y= 11
y= 13
y= 15
y= 17
y= 19

In [22]:
def ordenada(a,b):
  return lambda m: a*m+b

valores=[]
Recta=ordenada(2,-1)
for i in range(10):
  print(valores,i)
  valores.append(Recta(i))
print(valores)

[] 0
[-1] 1
[-1, 1] 2
[-1, 1, 3] 3
[-1, 1, 3, 5] 4
[-1, 1, 3, 5, 7] 5
[-1, 1, 3, 5, 7, 9] 6
[-1, 1, 3, 5, 7, 9, 11] 7
[-1, 1, 3, 5, 7, 9, 11, 13] 8
[-1, 1, 3, 5, 7, 9, 11, 13, 15] 9
[-1, 1, 3, 5, 7, 9, 11, 13, 15, 17]

In [36]:
dic={"llave1":5,
     "llave2": "Valor2",
     "llave3": [1,2,3],
     "llave4": True
      }
print(dic.keys())
print(dic.values())

dic["llave6"]={"L1":5,"L2":6}
print(dic)

dict_keys(['llave1', 'llave2', 'llave3', 'llave4'])
dict_values([5, 'Valor2', [1, 2, 3], True])
{'llave1': 5, 'llave2': 'Valor2', 'llave3': [1, 2, 3], 'llave4': True, 'llave6': {'L1': 5, 'L2': 6}}

Hacer un diccionario con 6 personas, poner el nombre de la persona, la edad, si estudia o no y su estatus legal.

In [39]:
import pandas as pd

datos = {
    'Nombre': ['Jose','Pedro','Sofia','Ana'],
    'Edad' : [32,19,23,43],
    'Estudia' : ['No','Si','Si','No'],
    'Estatus' : ['Soltero','Soltero','Soltero','Casado']
    }

dataframe=pd.DataFrame(datos)
print(dataframe)

  Nombre  Edad Estudia  Estatus
0   Jose    32      No  Soltero
1  Pedro    19      Si  Soltero
2  Sofia    23      Si  Soltero
3    Ana    43      No   Casado